/* For All Pages */

main {
  margin-top: 56px;
}

.row > .col {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(39,41,43,0.03);
  border: 1px solid rgba(39,41,43,0.1);
}

/* For card_*.html, displayed on projects.html and index.html */

.card {
    max-width: 300px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* For introduction.html, displayed on about.html and index.html */
#portrait {
  border: solid;
  border-width: 8px;
}

@media screen and (max-width: 768px) {
  #portrait {
    max-width: 66%;
  }
}

@media screen and (min-width: 768px) {
  #portrait {
    max-width: 33%; 
  }
}

/* For Resume.html */
.school > h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.school > h4 {
  font-size:1.3rem;
}

.school > h5 {
  font-size:1.0rem;
}

.school > h6 {
  font-size:smaller;
}

.job > h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.job > h4 {
  font-size:small;
}

.job > h5 {
  font-size:smaller;
}

/* For contact.html form */
.star:hover{
  color: gold;
}

/* For Project-02.html */
@media (max-width: 576px) {
  div .text-monospace > p {
    font-size: 0.70rem;
  }
}

@media screen and (max-width: 768px) {
  #Project-02_graph {
    max-width: 75%;
  }
}

@media screen and (min-width: 768px) {
  #Project-02_graph {
    max-width: 576px;
  }
}
