main {
  margin-top: 56px;
}

.row > .col {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(39,41,43,0.03);
  border: 1px solid rgba(39,41,43,0.1);
}

.card {
    max-width: 300px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.star:hover{
  color: gold;
}
